.offset-top-0 {
  margin-top: 0;
}
.offset-top-10 {
  margin-top: 10px;
}
.offset-top-20 {
  margin-top: 20px;
}
.offset-top-30 {
  margin-top: 30px;
}
.offset-top-40 {
  margin-top: 40px;
}
.offset-top-50 {
  margin-top: 50px;
}
.offset-top-60 {
  margin-top: 60px;
}
.offset-top-70 {
  margin-top: 70px;
}
.offset-top-80 {
  margin-top: 80px;
}
.offset-top-90 {
  margin-top: 90px;
}
.offset-top-100 {
  margin-top: 100px;
}
.offset-bottom-0 {
  margin-bottom: 0;
}
.offset-bottom-10 {
  margin-bottom: 10px;
}
.offset-bottom-20 {
  margin-bottom: 20px;
}
.offset-bottom-30 {
  margin-bottom: 30px;
}
.offset-bottom-40 {
  margin-bottom: 40px;
}
.offset-bottom-50 {
  margin-bottom: 50px;
}
