$background-menu: #fff;

.default-navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  background-color: $background-menu;
  width: 100%;
  height: 50px;
  margin-bottom: 60px;
  padding: 0 20px;

  .container-avatar {
    white-space: nowrap;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-left: auto;

    .bg {
      width: 36px;
      height: 36px;
      border-radius: 100%;
      background-color: #c3c3c3;
    }

    .rounded-name {
      border-radius: 100%;
      border: 1px solid #eee;
      background: #fff;
      text-align: center;
      line-height: 34px;

      span {
        color: #000;
        font-size: 16px;
        font-weight: bold;
      }
    }

    .container-name {
      span {
        font-size: 14px;
        font-weight: 400;
        display: inline-block;
        margin: 0 4px 0 8px;
      }

      i {
        position: relative;
        top: 2px;
      }
    }
  }
}
